.benefit_wrapper {
    margin: 0 auto;
    max-width: 1650px;
    .benefits {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        position: relative;
        .benefit {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 80px 0;
            .text {
                max-width: 560px;
                h3 {
                    font-family: 'RobotoCondensed', sans-serif;
                    font-size: 36px;
                    font-weight: 700;
                    line-height: 48px;
                    color: #0C93F4;
                    margin-bottom: 16px;
                }
                p {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;
                    color: #474B56;
                    span {
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 20px;
                    }
                }
            }
        }
        .benefit .icon {
            max-width: 700px;
            img {
                width: 100%;
            }
        }
        .vector {
            position: absolute;
            top: 200px;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .tag {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background: #0C93F4;
            position: absolute;
            &__body {
                position: relative;
                height: 100%;
                p {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 44px;
                    font-weight: 500;
                    line-height: 64px;
                    color: white;
                }
            }
        }
        .tag.tag1 {
            top: 180px;
            left: calc(50% - 8%);
        }
        .tag.tag2 {
            top: 740px;
            left: calc(50% + 1%);
        }
        .tag.tag3 {
            top: 1300px;
            left: calc(50% - 8%);
        }
        .tag.tag4 {
            top: 1860px;
            left: calc(50% + 1%);
        }
    }
}

@media screen and (max-width: 1550px) {
    .benefit_wrapper {
        .benefits {
            .vector {
                display: none;
            }
            .tag {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    .benefit_wrapper {
        .benefits {
            gap: 20px;
            .benefit {
                flex-direction: column;
                gap: 20px;
                margin: 0;
                padding-bottom: 20px;
                border-bottom: solid 1px #474B56;
            }
            .benefit.benefit__text {
                flex-direction: column-reverse;
            }
            .text {
                text-align: center;
            }
        }
        .benefits:last-child {
            .benefit {
                border-bottom: none;
            }
        }
    }
}
