@font-face {
    font-family: 'RobotoFlex';
    src: url("../fonts/RobotoFlex.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url("../fonts/RobotoCondensed.ttf");
    font-weight: 400;
}
